@page "{name}"
@model ProductModel
@{
}

<div>
    <table class="table">
        <thead>
            <tr>
                <th>NAME</th>
                <th>DESCRIPTION</th>
                <th>VALUE</th>
                <form method="post">
                    <th>STOCK</th>
                </form>
            </tr>
        </thead>
        <tbody class="table-secondary">
            <tr>
                <td>@Model.Product.Name</td>
                <td>@Model.Product.Description</td>
                <td>@Model.Product.Value</td>
                <td>
                    <form method="post">
                        <select asp-for="CartViewModel.StockId">
                            @foreach (var stock in Model.Product.Stock)
                            {
                                <option value="@stock.Id">@stock.Description</option>
                            }
                        </select>

                        <label>Qty:</label>
                        <input asp-for="CartViewModel.Qty"/>

                        <button type="submit">Submit</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>

@await Component.InvokeAsync("Cart")